body {
	background-color: #003049;
}
.header {
	text-align: center;
	color: #fdf0d5;
}

h2 {
	display: inline;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid {
	width: 456px;
	height: 456px;
	display: flex;
	flex-wrap: wrap;
}

.square {
	height: 150px;
	width: 150px;
	border: 1px solid black;
	background-color: #fdf0d5;
}

.mole {
	background: url('images/funnyMole (1).jpg');
}
